.container {
    max-width: 800px;
    margin: 0 auto;
    }
    
    
    ul li:before {
    font-family: FontAwesome;
    font-weight: 400;
    margin-right: 10px;
    color: #003366;
    }
    
    .lead {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    }