<h2 class="secondary-font text-center mb-3">Privacy Policy</h2>

<div class="app-description-container">
    <p class="app-description"> 
         At CuraLife, we take your privacy very seriously. This Privacy Policy explains how we collect, use, and disclose your personal information in connection with our website and services. Personal information is any information that can be used to identify you as an individual, such as your name, email address, phone number, or payment information. We collect personal information from you when you create an account, make a purchase, or contact us for support. We use this information to provide and improve our services, personalize your experience, communicate with you, and comply with legal obligations. We do not sell, rent, or share your personal information with third parties for their own marketing purposes. We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.<br/>If you have any questions or concerns about our privacy practices, please contact us.
    </p>
  </div>
  
  
  
  
  