.app-description-container {
    max-width: 670px;
    margin: auto;
    padding: 30px;
    background-color: #F7F7F7;
    border-radius: 5px;
  }
  
  .app-description {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
  }