.left-arrow , .right-arrow{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 15px;
    font-weight: bold;
}
.calories{
    margin-top: 80px;
    font-size: 45px;
    font-family:'Lucida Sans Typewriter';

}
  
.calories-number{
    margin-left: 20px;
    font-size: 25px;
    font-family:'Lucida Sans Typewriter';

}