<p>meal works!</p>
<button mat-mini-fab color="primary" class="prop-prev swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
<button mat-mini-fab color="primary" class="prop-next swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> 
<div class="section default mt-3">
    <div class="px-3">
        
        <div class="theme-container">
            <h1 class="section-title">Meal Plan</h1>
            
            <p class="section-desc text-muted">The best dishes of the city for our clients.</p> 
            <app-meal-items-details [mealItems]="meals"></app-meal-items-details>
            <!-- <div fxLayout="row" fxLayoutAlign="center center">
                <a mat-raised-button routerLink="/menu" color="primary" class="uppercase">View all menu</a>
            </div>   -->
        </div>
    </div>   
</div>  