.container {
  margin-top: -2vh;
  width: 90vw;
  height: 64vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
/* On boarding line */
.top {
  justify-content: center;
  align-items: center;
  height: 13vh;
  position: absolute;
  top: 16%;
  font-family: "Montserrat";

  // border: 1vh solid black;
}
.question {
  line-height: 24px;
  font-weight: 400;
  font-size: 20px;
}
.text {
  font-family: "Montserrat";
  font-style: normal;
  margin-top: -3vh;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}
.line {
  // position: absolute;
  // left: 0%;
  // right: 0%;
  border: 3px solid #4b643d;
  width: 80vw;
  max-width: 280px;
}
.content {
  position: absolute;
  top: 26%;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid black;
}

.loading {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
  }
}
