.container {
  // margin-top: -12vh;
  // width: 90vw;
  // height: 62vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  // overflow: hidden;
}

.top {
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}
.question {
  font-weight: 400;
  font-size: 20px;
}
.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}
.line {
  border: 3px solid #4b643d;
  width: 80vw;
  max-width: 320px;
  text-align: center;
  margin: auto;
}
.content {
  width: 70vw;
  margin: auto;
  text-align: center;
  margin-top: 1vh;
}

.loading {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
  }
}
