.container {
  margin-top: -2vh;
  width: 90vw;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
/* On boarding line */
.top {
  justify-content: center;
  align-items: center;
  height: 13vh;
  position: absolute;
  top: 11%;
  font-family: 'Montserrat';

  // border: 1vh solid black;
}
.question
{
  line-height: 24px;
  font-weight: 400;
  font-size: 20px;
}
.text
{
  font-family: 'Montserrat';
  font-style: normal;

  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}
.line
{ 
  position: absolute;
  left: 0%;
  right: 0%;
  border: 3px solid #4B643D;
}
.content
{
  position: absolute;
  top: 25%;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid black;

}


@media screen and (max-width: 600px) {
  .container{
    width: 95vw;
  }
}