<mat-card>
    <mat-card-header fxLayoutAlign="center center">                
        <mat-card-subtitle><h2>Transactions</h2></mat-card-subtitle>
    </mat-card-header>
    <div class="w-100 h-300p">
        <ngx-charts-bar-horizontal
            [scheme]="colorScheme"
            [results]="transactions"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="yAxisLabel"
            [yAxisLabel]="xAxisLabel"
            (select)="onSelect($event)">
        </ngx-charts-bar-horizontal>         
    </div>
</mat-card>