<mat-tab-group [selectedIndex]="selected" (selectedIndexChange)="onTabIndexChanged($event)" animationDuration="0">
    <mat-tab *ngFor="let address of addresses.controls; let i = index;">
      <ng-template mat-tab-label>
          <span *ngIf="i == 0">Account settings</span>
      </ng-template>
      <div class="o-hidden mt-4">
          <div [formGroup]="$any(address)" fxLayout="row wrap" class="flex-wrapper">
              <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3"> 
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Username/Email</mat-label>
                      <input matInput placeholder="Username/Email" formControlName="username" required>
                      <mat-error *ngIf="address.get('username')!.errors?.required">Username/Email is required</mat-error>
                      <mat-error *ngIf="address.get('username')!.hasError('maxNumberOfWordsExceeded')">Max number of words exceeded</mat-error> 
                  </mat-form-field> 
              </div>
              <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3"> 
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Password</mat-label>
                      <input matInput placeholder="Password" formControlName="password" type="password" required>
                      <mat-error *ngIf="address.get('password')!.errors?.required">Password is required</mat-error>
                      <mat-error *ngIf="address.get('password')!.hasError('maxNumberOfWordsExceeded')">Max number of words exceeded</mat-error> 
                  </mat-form-field> 
                  
              </div>
          </div>
      </div>
  </mat-tab>
</mat-tab-group>
<div fxLayout="row wrap" fxLayoutAlign="end center" ngClass.xs="mb-3">
  <button mat-raised-button type="button" color="warn" (click)="deleteAddress()" class="mx-1"> 
      <mat-icon fxHide="false" fxHide.gt-xs="true">delete</mat-icon>
      <span fxShow="false" fxShow.gt-xs="true">Delete Account</span>
  </button>
  <button mat-raised-button type="button" color="primary" (click)="addAddress()">
      <mat-icon fxHide="false" fxHide.gt-xs="true">Reset</mat-icon>
      <span fxShow="false" fxShow.gt-xs="true">Reset Account</span>
  </button>
</div>