<mat-card class="m-2 p-0">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
        <div></div>
        <a mat-raised-button color="primary" routerLink="/admin/menu-items/add">
            <mat-icon>add</mat-icon>
            Add New Menu Item
        </a>
    </div>
    <mat-divider></mat-divider>

    <div class="table-wrapper">
        <table mat-table [dataSource]="dataSource" matSort class="w-100">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let meals"> {{meals.mealId}} </td>
            </ng-container>

            <!-- Image Column -->
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                <td mat-cell *matCellDef="let meals"> <img [src]="meals.imageUrl" alt="item" width="60"> </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let meals"> {{meals.mealName}} </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="Calories">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Calories (Kcal)</th>
                <td mat-cell *matCellDef="let meals"> <b class="primary-color">{{meals.calories}}</b> </td>
            </ng-container>


            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let meals">
                    <a mat-icon-button color="primary" [routerLink]="['/admin/meal-items/add', meals.mealId]"
                        matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a mat-icon-button color="primary" routerLink="/adminside/meal-items/detail/{{meals.mealId}}"
                        matTooltip="View">
                        <mat-icon (click)="onMealClick(meals.mealId)">visibility</mat-icon>
                    </a>

                    <mat-card-content class="mb-0">

                    </mat-card-content>
                    <button mat-icon-button color="warn" (click)="remove(meals)" matTooltip="Remove">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let menuItem; columns: displayedColumns;"></tr>
        </table>
        <p *ngIf="dataSource && dataSource.data.length === 0" class="py-5 mb-0 text-center">No data available</p>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator> -->
</mat-card>