.get-in-touch{
    position: relative;
    margin-top: 80px;
    img{
        max-width: 200px; 
        position: absolute; 
        bottom: 0;
    }
    .content{
        padding-left: 200px;
    }
}