

  .secondary-font {
    font-family: 'Montserrat', sans-serif ;
  }

  .welcome {
    font-size: 19px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif ;
  }

  .bigger-font {
    font-size: 1.2rem; /* adjust the value as needed */
  }

  .bigger-title{
    font-size: 2rem; /* adjust the value as needed */
  }