.container {
  margin-top: -2vh;
  width: 90vw;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
/* On boarding line */
.top {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 13vh;
  width: 300px;
  // position: absolute;
  // top: 9%;
  font-family: "Montserrat";

  // border: 1vh solid black;
}
.question {
  line-height: 24px;
  font-weight: 400;
  font-size: 20px;
}

.textTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  width: 200px;
  text-align: center;
}

.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  // line-height: 20px;
  width: 90%;
  padding: 10px;
  text-align: center;
}

.line {
  // position: absolute;
  // left: 0%;
  // right: 0%;
  text-align: center;
  border: 3px solid #4b643d;
  width: 90%;
}
.content {
  // position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid black;
}

.boxesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 8vw;
  height: 100px;
  // margin: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.orange {
  background-color: #e09167;
}

.white {
  background-color: white;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
  }
  .box {
    height: 80px;
  }
}
