<div class = "container">
    <div class="mat-table theme-table cart-table">
        <div class="mat-header-row">
            <div class="mat-header-cell">productName</div>
            <div class="mat-header-cell quantity">Amount</div>
            <div class="mat-header-cell price"> unit</div>      
            <div class="mat-header-cell actions text-center">
                <div class="px-1" (click)="selectAll()">
                    Delete All
                    <!--<button mat-raised-button color="warn" >Delete All</button>-->
                </div>
            </div>
        </div>
    <div *ngFor="let grocery of groceries"  class="mat-row">
        <!--<div class="mat-cell image"><img [src]="item.image.small"></div>-->
        <div class="mat-cell productName">
            <input class="checkbox" type="checkbox">
            <div >{{grocery.ingredient.productName}}</div>
        </div>
        
        <div class="mat-cell quantity">
            {{grocery.amount}}
        </div>
        <div class="mat-cell price">{{grocery.unit}}</div>      
        <div class="mat-cell actions text-center">
            <div class="p-1">
                <button mat-mini-fab color="warn" (click)="hideIngredient(grocery)" matTooltip="Clear">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div> 
        
    </div>
</div>

<!--Our Code ends here-->