
.week-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .week {
    flex: 1 0 15%;
    margin: 5px;
  }

  
  
  .button-container {
float: inline-end; 
   display: flex;
    margin-top: 10px;

  }

  .selected {
    background-color: 'primary';
    color: white;
  }
  
  
.container {
    font-size: larger;
    width: 95vw;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    margin-top: 1%;
    margin-bottom: 1%;

}

.productName {
    display: flex;
}

.checkbox {
    margin-right: 5px;
}


.p-3 {
    display: inline;
    margin: auto;
    background-color: white;

}



.line {
    border: 0.04px solid #99B182;
    margin-top: 3%;
}

.catagories{
    margin-top: 20px;
    width: 95vw;
    max-width: 1200px;
    align-self: center;
}

#printPdf{
    width: 95vw;
    max-width: 1200px;
}

.catagoriesTitle {
    margin: 1%;
    //--swiper-navigation-size: 44px;
    line-height: 1.7;
    font-family: Montserrat;
   //word-wrap: break-word;
    font-weight: 500;
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    
    background-color: #E09167;
    //border-top-right-radius: 50px;
    //border-bottom-right-radius: 50px;
}

.orange {
    background-color: #E09167;

}

.white {
    background-color: white;
}