<div class="container">
    <div class="Weekbuttons1">
        <div *ngFor="let week of allWeeks" class="p-3" >
            <button class="weeks1" (click)="displayWeek(week)" 
            [ngClass]="{ orange: clicked1, white: !clicked1 }"
            [ngClass]="{ orange: clicked2, white: !clicked2 }"
            [ngClass]="{ orange: clicked3, white: !clicked3 }"
            [ngClass]="{ orange: clicked4, white: !clicked4 }"

            >Week {{week}}</button>
        </div>
        <!-- mat-raised-button  -->
    </div>
    <div class="mat-table theme-table cart-table">
        <!-- <div class="line"> </div> -->
        <div class="mat-header-row">
            <div class="mat-header-cell">productName</div>
            <div class="mat-header-cell quantity">Amount</div>
            <div class="mat-header-cell price"> catagory</div>
            <div class="mat-header-cell price"> week</div>
            <div class="mat-header-cell price"> unit</div>
            <div class="mat-header-cell actions text-center">
                <div class="px-1" (click)="selectAll()">
                    Delete All
                    <!--<button mat-raised-button color="warn" >Delete All</button>-->
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let catagoryy of AllCatagories" class="catagories">
        <div class="catagoriesTitle">{{catagoryy}}</div>
        <div class="mat-table theme-table cart-table">
            <div *ngFor="let grocery of groceries">
                <div *ngIf="grocery.ingredient.category == catagoryy" class="mat-row">
                    <!--<div class="mat-cell image"><img [src]="item.image.small"></div>-->
                    <div class="mat-cell productName">
                        <input class="checkbox" type="checkbox">
                        <div>{{grocery.ingredient.productName}}</div>
                    </div>

                    <div class="mat-cell quantity">
                        {{grocery.amount}}
                    </div>
                    <div class="mat-cell price">{{grocery.ingredient.category}}</div>
                    <div class="mat-cell price">{{grocery.week}}</div>
                    <div class="mat-cell price">{{grocery.unit}}</div>
                    <div class="mat-cell actions text-center">
                        <div class="p-1">
                            <button mat-mini-fab color="warn" (click)="hideIngredient(grocery)" matTooltip="Clear">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Our Code ends here-->