.remove-icon {
    font-size: 24px; 
    color: red; 
    cursor: pointer; 
  }

  .add-icon {
    font-size: 30px; 
    color: green; 
    cursor: pointer; 
  }

  li{
    list-style-type: none;
  }
  