<div class="p-2">
    <mat-card>  
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" fxLayout="row wrap">
                <div fxFlex="40" class="px-2" *ngIf="showImage">  
                    <app-image-upload [base64]="form.controls.image.value"
                                    [fileSize]="400"    
                                    [acceptTypes]="'image/png, image/jpeg, image/jpg'"
                                    (onFileChange)="fileChange($event)">
                    </app-image-upload>  
                </div>
                <div fxFlex="60" class="px-2">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Meal Name</mat-label>
                                <input matInput formControlName="name" required>
                                <mat-error *ngIf="form.controls.name.errors?.required">Name is required</mat-error>
                                <mat-error *ngIf="form.controls.name.hasError('minlength')">Name isn't long enough, minimum of 4 characters</mat-error>
                            </mat-form-field>
                        </div> 
                        <!-- <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Category</mat-label>
                                <mat-select formControlName="categoryId" required>
                                    <mat-option *ngFor="let cat of appService.Data.categories" [value]="cat.id">
                                        <span>{{cat.name}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.categoryId.errors?.required">Category is required</mat-error>
                            </mat-form-field>
                        </div>   -->
                        <!-- <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Price</mat-label>
                                <input matInput formControlName="price" required>
                                <mat-error *ngIf="form.controls.price.errors?.required">Price is required</mat-error>
                            </mat-form-field>
                        </div> 
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Discount</mat-label>
                                <input matInput formControlName="discount" type="number"> 
                            </mat-form-field>
                        </div>  -->
                        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Calories (Kcal) </mat-label>
                                <input matInput formControlName="availibilityCount" type="number"> 
                            </mat-form-field>
                        </div>  
                        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Prepare Time (min)</mat-label>
                                <input matInput formControlName="weight" type="number"> 
                            </mat-form-field>
                        </div> 
                        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Cook Time (min)</mat-label>
                                <input matInput formControlName="weight" type="number"> 
                            </mat-form-field>
                        </div> 
                        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Fat (gr)</mat-label>
                                <input matInput formControlName="weight" type="number"> 
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Protien (gr)</mat-label>
                                <input matInput formControlName="weight" type="number"> 
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Carbs (gr)</mat-label>
                                <input matInput formControlName="weight" type="number"> 
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Fibre (gr)</mat-label>
                                <input matInput formControlName="weight" type="number"> 
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="33.3" class="p-3">
                            <mat-checkbox matCheckbox formControlName="isVegetarian" color="primary">GLUTEN FREE</mat-checkbox>
                            <mat-checkbox matCheckbox formControlName="isVegetarian" color="primary">DAIRY FREE</mat-checkbox>
                            <mat-checkbox matCheckbox formControlName="isVegetarian" color="primary">KETO FRIENDLY</mat-checkbox>
                            <mat-checkbox matCheckbox formControlName="isVegetarian" color="primary">VEGAN FRIENDLY</mat-checkbox> 
                        </div>  
                        
                        <div fxFlex="100" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Instructions</mat-label> 
                                <textarea matInput formControlName="description" rows="2"></textarea> 
                            </mat-form-field> 
                        </div>  
                        <div fxFlex="100" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Tips</mat-label> 
                                <textarea matInput formControlName="description" rows="2"></textarea> 
                            </mat-form-field> 
                        </div>  
                        <div fxFlex="100" class="mt-2 text-center w-100">
                            <button mat-raised-button color="primary" type="submit" class="uppercase">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content> 
    </mat-card>
</div>
