<div class="p-2">
    <mat-card>
        <mat-card-content>
            <form autocomplete="off" fxLayout="row wrap">

                <!-- *ngIf="showImage" -->
                <div fxFlex="40" class="px-2" required >
                    <app-image-upload [base64]="imageUrl" [fileSize]="400" required
                        [acceptTypes]="'image/png, image/jpeg, image/jpg'" (onFileChange)="fileChange($event)">
                    </app-image-upload>
                </div>

                <div fxFlex="60" class="px-2">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="100" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Meal Name</mat-label>
                                <input  [(ngModel)]="MealName" [ngModelOptions]="{ standalone: true }" matInput [required]="!isSubmitted">
                            </mat-form-field>
                        </div>

                        <div fxFlex="50" fxFlex.gt-sm="50" class="px-3">
                            <mat-checkbox matCheckbox color="primary" [(ngModel)]="isOvernightCooking"
                                [ngModelOptions]="{ standalone: true }">
                                Overnight
                            </mat-checkbox>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Cook Time (min)</mat-label>
                                <input [(ngModel)]="CookTime" [ngModelOptions]="{ standalone: true }" matInput
                                    type="number" [disabled]="isOvernightCooking" [required]="!isSubmitted">
                            </mat-form-field>
                        </div>

                        <div fxFlex="50" fxFlex.gt-sm="50" class="px-3">
                            <mat-checkbox matCheckbox color="primary" [(ngModel)]="isOvernightPreparing"
                                [ngModelOptions]="{ standalone: true }">
                                Overnight
                            </mat-checkbox>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Prepare Time (min)</mat-label>
                                <input [(ngModel)]="PrepareTime" [ngModelOptions]="{ standalone: true }" matInput
                                    type="number" [disabled]="isOvernightPreparing" [required]="!isSubmitted">
                            </mat-form-field>
                        </div>

                        <div fxFlex="50" fxFlex.gt-sm="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Calories (Kcal) </mat-label>
                                <input [(ngModel)]="Calories" [ngModelOptions]="{ standalone: true }" matInput
                                    type="number" [required]="!isSubmitted">
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.gt-sm="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Fat (gr)</mat-label>
                                <input [(ngModel)]="Fat" [ngModelOptions]="{ standalone: true }" matInput type="number"
                                [required]="!isSubmitted">
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.gt-sm="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Protien (gr)</mat-label>
                                <input [(ngModel)]="Protien" [ngModelOptions]="{ standalone: true }" matInput
                                    type="number" [required]="!isSubmitted">
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxFlex.gt-sm="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Carbs (gr)</mat-label>
                                <input [(ngModel)]="Carbs" [ngModelOptions]="{ standalone: true }" matInput
                                    type="number" [required]="!isSubmitted">
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-3" fxLayout="column wrap">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Fibre (gr)</mat-label>
                                <input [(ngModel)]="Fibre" [ngModelOptions]="{ standalone: true }" matInput
                                    type="number" [required]="!isSubmitted">
                            </mat-form-field>
                        </div>

                        <div fxFlex="100" fxFlex.gt-sm="100" class="p-3" fxLayout="column wrap">
                            <mat-checkbox matCheckbox color="primary" *ngFor="let dietType of dietTypes"
                                (change)="onCheckboxChange($event, dietType)">
                                {{dietType}}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                
                <div fxFlex="100" class="px-2" style="margin-top: 40px;">
                    <div fxFlex="15" fxFlex.gt-sm="15" class="px-3" style="margin-top: 20px;">
                        <h4>Insert instructions:</h4>
                    </div>

                    <div fxFlex="58.5" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Instructions</mat-label>
                            <textarea [(ngModel)]="instruction" [ngModelOptions]="{ standalone: true }" matInput
                                rows="1" [required]="!isSubmitted1"></textarea>
                        </mat-form-field>
                    </div>
                    <div fxFlex="20" fxFlex.gt-sm="20" class="px-3">
                        <button mat-icon-button (click)="addInstruction()">
                            <mat-icon class="add-icon">add</mat-icon>
                        </button>
                    </div>
                </div>

                <div fxFlex="100" class="mt-2  w-100">
                    <div fxFlex="19"></div>
                    <div fxFlex="81">
                        <ul>
                            <li *ngFor="let inst of instructions ;let i = index">
                                <button mat-icon-button (click)="removeInstruction(i)">
                                    <mat-icon class="remove-icon">close</mat-icon>
                                </button>
                               {{inst}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div fxFlex="100" class="px-2" style="margin-top: 40px;">
                    <div fxFlex="15" fxFlex.gt-sm="15" class="px-3" style="margin-top: 20px;">
                        <h4>Insert Tips:</h4>
                    </div>
                    <div fxFlex="58.5" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Tips</mat-label>
                            <textarea [(ngModel)]="Tip" [ngModelOptions]="{ standalone: true }" matInput rows="1"
                            [required]="!isSubmitted2"></textarea>
                        </mat-form-field>
                    </div>
                    <div fxFlex="10" fxFlex.gt-sm="10" class="px-3">
                        <button mat-icon-button (click)="addTips()">
                            <mat-icon class="add-icon">add</mat-icon>
                        </button>
                    </div>
                </div>

                <div fxFlex="100" class="mt-2  w-100">
                    <div fxFlex="19"></div>
                    <div fxFlex="81">
                        <ul>
                            <li *ngFor="let tip of Tips ;let i = index">
                                <button mat-icon-button (click)="removeTips(i)">
                                    <mat-icon class="remove-icon">close</mat-icon>
                                </button>
                              {{tip}}
                            </li>
                        </ul>
                    </div>
                </div>



<!-- ///////////////////////////////////////////////////////////////////////////////////// -->
                <div  *ngIf="!isEdit" fxFlex="100" class="px-2" style="margin-top: 40px;"></div>


                <div *ngIf="!isEdit" fxFlex="100" class="px-2">
                    <div fxFlex="15" fxFlex.gt-sm="15" class="px-3">
                        <h4>Insert meal<br> to day plan:</h4>
                    </div>

                    <div fxFlex="20" fxFlex.gt-sm="20" class="px-3">
                        <mat-form-field>
                            <mat-select placeholder="Select Plan" [(ngModel)]="plan"
                                [ngModelOptions]="{ standalone: true }" [required]="!isSubmitted4" (selectionChange)="planSelection()">
                                <mat-option *ngFor="let plan of plans" [value]="plan">{{ plan }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.gt-sm="20" class="px-3">
                        <mat-form-field>
                            <mat-select placeholder="Select day" [(ngModel)]="dayNumber"
                                [ngModelOptions]="{ standalone: true }" [required]="!isSubmitted4" (selectionChange)="daySelection()">
                                <mat-option *ngFor="let dayNumber of dayNumbers" [value]="dayNumber">{{ dayNumber.dayNumber}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.gt-sm="20" class="px-3">
                        <mat-form-field>
                            <mat-select placeholder="Select Type" [(ngModel)]="type"
                                [ngModelOptions]="{ standalone: true }" [required]="!isSubmitted4">
                                <mat-option *ngFor="let type of types" [value]="type">{{ type}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="15" fxFlex.gt-sm="15">
                        <button mat-icon-button (click)="addDay()">
                            <mat-icon class="add-icon">add</mat-icon>
                        </button>
                    </div>
                </div>

                <div fxFlex="100" class="mt-2  w-100">
                    <div fxFlex="19"></div>
                    <div fxFlex="81">
                        <ul>
                            <li *ngFor="let dayPlanType of dayPlanTypes ;let i = index">
                                <button mat-icon-button (click)="removeDay(i)">
                                    <mat-icon class="remove-icon">close</mat-icon>
                                </button>
                                {{ dayPlanType.plan }} {{'-'}} {{ dayPlanType.dayNumber.dayNumber }}{{'-'}} {{ dayPlanType.type
                                }}

                            </li>
                        </ul>
                    </div>
                </div>

                <div fxFlex="100" class="px-2" style="margin-top: 40px;"></div>

                <div fxFlex="100" class="px-2">
                    <div fxFlex="15" fxFlex.gt-sm="15" class="px-3" style="margin-top: 20px;">
                        <h4>Add Ingredients:</h4>
                    </div>

                    <div fxFlex="20" fxFlex.gt-sm="20" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Product Name</mat-label>
                            <input matInput [(ngModel)]="productName" [ngModelOptions]="{ standalone: true }" [required]="!isSubmitted3">
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.gt-sm="20" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Amount</mat-label>
                            <input (click)="isSubmitted=false;  " matInput type="number" [(ngModel)]="amount" [ngModelOptions]="{ standalone: true }">
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.gt-sm="20" class="px-3">
                        <mat-form-field>
                            <mat-select placeholder="Select Unit" [(ngModel)]="unit"
                                [ngModelOptions]="{ standalone: true }">
                                <mat-option *ngFor="let unit of units" [value]="unit">{{ unit }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxFlex.gt-sm="20" class="px-3">
                        <mat-form-field>
                            <mat-select placeholder="Select Category" [(ngModel)]="category"
                                [ngModelOptions]="{ standalone: true }" [required]="!isSubmitted3">
                                <mat-option *ngFor="let category of categories" [value]="category">{{ category
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="5" fxFlex.gt-sm="5" class="px-3">
                        <button mat-icon-button (click)="addIngredient()">
                            <mat-icon class="add-icon">add</mat-icon>
                        </button>
                    </div>
                </div>

                <div fxFlex="100" class="mt-2  w-100">
                    <div fxFlex="19"></div>
                    <div fxFlex="81">
                        <ul>
                            <li *ngFor="let ingredient of ingredients; let i = index">
                                <button mat-icon-button (click)="removeIngredient(i)">
                                    <mat-icon class="remove-icon">close</mat-icon>
                                </button>
                                {{ ingredient.amount }} {{' '}} {{ ingredient.unit }}{{' '}} {{ ingredient.productName
                                }} {{' '}}({{ ingredient.category }})
                            </li>
                        </ul>
                    </div>
                </div>

                <div fxFlex="500" class="mt-2 text-center w-100">
                    <button (click)="OnSubmit() " style="width: 100%;" mat-raised-button color="primary" type="submit"
                        class="uppercase">Submit</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>