<div class="px-3">
  <div class="theme-container">
    <mat-card class="menu-single my-5">
      <div fxLayout="row wrap" class="flex-wrapper">
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
          <mat-chip-list>
            <mat-chip color="warn" selected="true">{{type}}</mat-chip>
          </mat-chip-list>

          <img [src]="meal.imageUrl" class="w-100" />
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-3">
          <h1 class="secondary-font">{{ meal.mealName }}</h1>

          <div class="py-3">
            <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
              <mat-icon color="primary" class="mat-icon-sm">local_offer</mat-icon>
              <span class="px-1">Category:</span>
              <span class="fw-500">{{ meal.calories}}g</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
              <mat-icon color="primary" class="mat-icon-sm">{{
                meal.prepareTime ? "check_circle" : "unpublished"
                }}</mat-icon>
              <span class="px-1">Prepare Time:</span>
              <span class="fw-500">{{
                meal.prepareTime
                }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
              <span fxLayout="row" fxLayoutAlign="start center">
                <span class="mat-icon mat-icon-sm primary-color">
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M12,3C10.73,3 9.6,3.8 9.18,5H3V7H4.95L2,14C1.53,16 3,17 5.5,17C8,17 9.56,16 9,14L6.05,7H9.17C9.5,7.85 10.15,8.5 11,8.83V20H2V22H22V20H13V8.82C13.85,8.5 14.5,7.85 14.82,7H17.95L15,14C14.53,16 16,17 18.5,17C21,17 22.56,16 22,14L19.05,7H21V5H14.83C14.4,3.8 13.27,3 12,3M12,5A1,1 0 0,1 13,6A1,1 0 0,1 12,7A1,1 0 0,1 11,6A1,1 0 0,1 12,5M5.5,10.25L7,14H4L5.5,10.25M18.5,10.25L20,14H17L18.5,10.25Z" />
                  </svg>
                </span>
                <span class="px-1">Carbs:</span>
              </span>
              <span class="fw-500">{{ meal.carbs }} g</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
              <span fxLayout="row" fxLayoutAlign="start center">
                <span class="mat-icon mat-icon-sm primary-color">
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M12,3C10.73,3 9.6,3.8 9.18,5H3V7H4.95L2,14C1.53,16 3,17 5.5,17C8,17 9.56,16 9,14L6.05,7H9.17C9.5,7.85 10.15,8.5 11,8.83V20H2V22H22V20H13V8.82C13.85,8.5 14.5,7.85 14.82,7H17.95L15,14C14.53,16 16,17 18.5,17C21,17 22.56,16 22,14L19.05,7H21V5H14.83C14.4,3.8 13.27,3 12,3M12,5A1,1 0 0,1 13,6A1,1 0 0,1 12,7A1,1 0 0,1 11,6A1,1 0 0,1 12,5M5.5,10.25L7,14H4L5.5,10.25M18.5,10.25L20,14H17L18.5,10.25Z" />
                  </svg>
                </span>
                <span class="px-1">Fibre:</span>
              </span>
              <span class="fw-500">{{ meal.fibre }} g</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
              <span fxLayout="row" fxLayoutAlign="start center">
                <span class="mat-icon mat-icon-sm primary-color">
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M20.84 22.73L15.14 17.03C13.26 18.79 10.92 20 8 20C7.64 20 7.14 19.87 6.66 19.7L5.71 22L3.82 21.34C5.15 18.03 6.5 14.32 9.66 11.55L8.77 10.66C6.76 12.03 4.86 14.1 3.75 17.25C3.75 17.25 2 15.5 2 13.5C2 12 3.12 9.32 5.72 7.61L1.11 3L2.39 1.73C2.39 1.73 16.39 15.74 16.39 15.74L22.11 21.46L20.84 22.73M17 8C15.35 8.37 13.93 8.88 12.7 9.5L17.5 14.29C20.87 9.35 22 3 22 3C21.03 4.95 14.35 5.24 9.38 6.18L12.15 8.95C14.81 8 17 8 17 8Z" />
                  </svg>
                </span>
              </span>
              <span class="px-1">Protein:</span>
              <span class="fw-500">{{
                meal.protein
                }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
              <span fxLayout="row" fxLayoutAlign="start center">
                <span class="mat-icon mat-icon-sm primary-color">
                  <svg viewBox="0 0 24 24">
                    <path
                      d="M20.84 22.73L15.14 17.03C13.26 18.79 10.92 20 8 20C7.64 20 7.14 19.87 6.66 19.7L5.71 22L3.82 21.34C5.15 18.03 6.5 14.32 9.66 11.55L8.77 10.66C6.76 12.03 4.86 14.1 3.75 17.25C3.75 17.25 2 15.5 2 13.5C2 12 3.12 9.32 5.72 7.61L1.11 3L2.39 1.73C2.39 1.73 16.39 15.74 16.39 15.74L22.11 21.46L20.84 22.73M17 8C15.35 8.37 13.93 8.88 12.7 9.5L17.5 14.29C20.87 9.35 22 3 22 3C21.03 4.95 14.35 5.24 9.38 6.18L12.15 8.95C14.81 8 17 8 17 8Z" />
                  </svg>
                </span>
              </span>
              <span class="px-1">Fat:</span>
              <span class="fw-500">{{
                meal.fat
                }}</span>
            </p>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" class="text-muted divider pt-3">
            <span class="fw-500">Share: </span>
            <app-social-icons fxLayout="row" fxLayoutAlign="start center"></app-social-icons>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="text-muted divider pt-3">
            <span class="fw-500">Print: </span>
            <app-social-icons fxLayout="row" fxLayoutAlign="start center"></app-social-icons>
          </div>
        </div>



        <div fxFlex="100" class="px-3 mt-5">
          <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
            <mat-tab label="Ingredients">
              <div class="full-desc">
                <!-- <p *ngFor="let calorie of calories">
                  Carbs: {{ calorie }}g | Fibre: {{ calorie }}g | Protien:
                  {{ calorie }}g | Fat: {{ calorie }}g
                </p> -->
                <!-- <p>Carbs: 10g | Fibre: 10g | Protien: 10g | Fat: 10g</p> -->
                <ul class="px-2 mt-1" *ngFor="let ingredient of ingredients">
                  <li>{{ ingredient }}</li>
                  <div class="divider"></div>
                </ul>
              </div>
            </mat-tab>
            <mat-tab label="Instructions">
              <div class="full-desc">
                <ul class="px-2 mt-1" *ngFor="let instruction of instructions">
                  <li>{{ instruction }}</li>
                  <div class="divider"></div>
                </ul>
              </div>
            </mat-tab>
            <mat-tab label="Feedbacks">
              <div class="full-desc">
                <app-feedbacks></app-feedbacks>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div class="section mt-3">
  <div class="px-3">
    <div class="theme-container">
      <h1 class="section-title">Related Products</h1>
      <p class="section-desc text-muted">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
</div>

<app-get-in-touch></app-get-in-touch>