<div fxLayout="row" fxLayoutAlign="space-between center" class="p-2">
    <div fxLayout="row">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">
            <mat-button-toggle value="search">
                <mat-icon>search</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
            <input style="font-size: 20px;" matInput placeholder="Search user by name or email..." [(ngModel)]="searchText"
                name="search" (input)="onSearch()">
        </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-button-toggle-group #viewType="matButtonToggleGroup" appearance="legacy" value="grid">
            <mat-button-toggle value="grid">
                <mat-icon>view_module</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="list">
                <mat-icon>view_list</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>

<div *ngIf="viewType.value == 'grid'" fxLayout="row wrap">
    <!-- <ng-container *ngIf="filteredUsers.length > 0"> -->
        <div *ngFor="let user of filteredUsers " fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="p-2">
            <mat-card class="p-0">
                <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
                    <h3 class="user-name">{{user.firstName}} {{user.lastName}}</h3>

                    <h3 class="user-name">{{user.userRole}}</h3>
                    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                </div>
                <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                    <span (mouseleave)="menuTrigger.closeMenu()">
                        <!-- (click)="openUserDialog(user)" -->
                        <button mat-menu-item (click)="resetUser(user.userId)">
                            <mat-icon>refresh</mat-icon>
                            <span>Reset</span>
                        </button>
                        <!-- (click)="deleteUser(user);" -->
                        <button mat-menu-item (click)="deleteUser(user.userId)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        <button changePlan mat-menu-item (click)="openDialog(user.userId)">
                            <mat-icon>mode_edit</mat-icon>
                            <span>Change Plan</span>
                        </button>
                        <!--   [disabled]="user.userRole !== 'admin'" -->
                        <button [disabled]="user.userRole=='Admin'" (click)="changeUserRole(user.userId,true)"
                            mat-menu-item>
                            <mat-icon>add</mat-icon>
                            <span>Set Admin</span>
                        </button>
                        <!-- [disabled]="user.userRole === 'admin'" -->
                        <button [disabled]="user.userRole=='User'" (click)="changeUserRole(user.userId,false)"
                            mat-menu-item>
                            <mat-icon>remove</mat-icon>
                            <span>Unset Admin</span>
                        </button>


                    </span>
                </mat-menu>
                <div class="user-content">
                    <div fxFlex="70" fxLayout="column" class="user-details transition-2">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">mail_outline</mat-icon>
                            <span>{{user.email}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">call</mat-icon>
                            <span>{{user.phoneNumber}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">card_membership</mat-icon>
                            <span>{{user.plan.planName+' '}}Plan</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">date_range</mat-icon>
                            <span>Registration {{user.registerDate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
                        </p>

                    </div>
                </div>
            </mat-card>
        </div>
    <!-- </ng-container> -->
    <!-- <ng-container *ngIf="filteredUsers.length === 0">
        <h2>No users found...</h2>
    </ng-container> -->
</div>

<div *ngIf="viewType.value == 'list'" fxLayout="row wrap">
    <!-- <ng-container *ngIf="filteredUsers.length > 0"> -->
        <div *ngFor="let user of filteredUsers " fxFlex="100" class="p-2">
            <mat-card class="p-0">
                <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
                    <h3 class="user-name">{{user.firstName}} {{user.lastName}}</h3>

                    <h3 class="user-name">{{user.userRole}}</h3>
                    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                </div>
                <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                    <span (mouseleave)="menuTrigger.closeMenu()">
                        <!-- (click)="openUserDialog(user)" -->
                        <button mat-menu-item (click)="resetUser(user.userId)">
                            <mat-icon>refresh</mat-icon>
                            <span>Reset</span>
                        </button>
                        <!-- (click)="deleteUser(user);" -->
                        <button mat-menu-item (click)="deleteUser(user.userId)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        <button changePlan mat-menu-item (click)="openDialog(user.userId)">
                            <mat-icon>mode_edit</mat-icon>
                            <span>Change Plan</span>
                        </button>
                        <!--   [disabled]="user.userRole !== 'admin'" -->
                        <button [disabled]="user.userRole=='Admin'" (click)="changeUserRole(user.userId,true)"
                            mat-menu-item>
                            <mat-icon>add</mat-icon>
                            <span>Set Admin</span>
                        </button>
                        <!-- [disabled]="user.userRole === 'admin'" -->
                        <button [disabled]="user.userRole=='User'" (click)="changeUserRole(user.userId,false)"
                            mat-menu-item>
                            <mat-icon>remove</mat-icon>
                            <span>Unset Admin</span>
                        </button>


                    </span>
                </mat-menu>
                <div class="user-content">
                    <div fxFlex="70" fxLayout="column" class="user-details transition-2">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">mail_outline</mat-icon>
                            <span>{{user.email}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">call</mat-icon>
                            <span>{{user.phoneNumber}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">card_membership</mat-icon>
                            <span>{{user.plan.planName+' '}}Plan</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">date_range</mat-icon>
                            <span>Registration {{user.registerDate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
                        </p>

                    </div>
                </div>
            </mat-card>
        </div>
    <!-- </ng-container> -->
    <!-- <ng-container *ngIf="filteredUsers.length === 0">
        <h2>No users found...</h2>
    </ng-container> -->
</div>
