.lock-screen{
    position: relative;
    &:before{        
        content: '';        
        position:absolute;
        top: 0;
        z-index:-1;
        width: 100%;
        height: 100%;  
        background-image: url('../../../assets/images/others/default-bg.png');
        background-repeat: repeat;
        background-size: 350px;
        background-position: center;
        opacity: 1; 
    } 
    form{
        position: relative;
        .name{
            position: absolute;
            top: -2px;
            right: 0;
            text-transform: uppercase;
            font-weight: 600;
        }
        img{
            border-radius: 50%;
            width: 90px;
            height: 90px;
            border: 8px solid #fff;
        }
        input{ 
            background: #fff;
            padding: 16px 44px 16px 16px;
            width: 140px; 
            margin-left: -6px;
            border: 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            text-align: center;
            outline: none;
            box-shadow: 4px 0px 4px -2px rgba(0, 0, 0, 0.2), 
                        4px 3px 4px 0px rgba(0, 0, 0, 0.14),
                        4px 1px 4px 0px rgba(0, 0, 0, 0.12);
        }
        a{
            position: absolute;
            bottom: -8px;
            right: -8px;
            margin: 0; 
            font-size: 13px;
        }        
        button.submit{
            margin-left: -44px;
        }
    }
    p.time{
        font-size: 48px; 
        margin-top: 16px;  
    } 
} 