<h2 mat-dialog-title>Select a plan</h2>
<mat-dialog-content>
  <mat-list dense>
    <mat-list-item (click)="selectPlan('Basic')" style="font-size: 18px; cursor: pointer;">
      <mat-icon mat-list-icon   >emoji_events</mat-icon>
      <h3 mat-line>Basic</h3>
    </mat-list-item>
    <mat-list-item (click)="selectPlan('Premium')" style="font-size: 18px; cursor: pointer;">
      <mat-icon mat-list-icon>star</mat-icon>
      <h3 mat-line>Premium</h3>
    </mat-list-item>
    <mat-list-item (click)="selectPlan('Freemium')" style="font-size: 18px; cursor: pointer;">
      <mat-icon mat-list-icon>vpn_key</mat-icon>
      <h3 mat-line>Freemium</h3>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
