.button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button button {
    width: 100%;
  }
  .Pdf{
    position: absolute;
    width: 54px;
    height: 54px;
    left: 236px;
    top: 728px;
    
}
img {
  width: 500px;
  height: 500px;
  object-fit: fill;
}