.top {
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}
.question {
  line-height: 24px;
  font-weight: 400;
  font-size: 20px;
}
.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.line {
  text-align: center;
  margin: auto;
  width: 80vw;
  max-width: 300px;
  border: 3px solid #4b643d;
}
.content {
  margin-top: 4vh;
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
  img {
    height: 80%;
  }
}

.range {
  margin: auto;
  margin-top: 5vh;
  padding: 10px;
  width: 90vw;
  max-width: 480px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  max-width: 380px;
  padding-left: 2vw;
  padding-right: 2vw;
}
.sedentary {
  padding: 10px;
}
.extra {
  padding: 10px;
}

.value {
  font-size: 36px;
  opacity: 0.65;
}

.slider {
  width: 90vw;
  max-width: 400px;
  height: 23px;
  -webkit-appearance: none;
  background: #c9c9c97c;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #e09167;
  cursor: pointer;
  border: 6.5px solid #252525b2;
  box-shadow: -407px 0 0 400px #e09167;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e09167;
  cursor: pointer;
  border: 6.5px solid #252525b2;
  box-shadow: -407px 0 0 400px #e09167;
}

.slider::-webkit-slider-thumb:hover {
  background: #252525b2;
}

.slider::-moz-range-thumb:hover {
  background: #252525b2;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
  }
}
