<div class="Container">

    <div>
        <button class="button-25" (click)="back()">Back to your page</button>
    </div>

    <div class="Container">
        <app-plan class="app-plan" *ngFor="let plan of plans.slice(1)"
                  [planId]="plan.planId"
                  [name]="plan.planName"
                  [price]="plan.price"
                  [length]="(plan.length/7).toString()+' weeks'"
                  [includes]="plan.includes"
                  [benefits]="plan.benefits">
        </app-plan>
    </div>
    
</div>
