<div class="comments">
  <div fxLayoutAlign="center center">
    <h2 class="secondary-font mb-3">Leave Your Feedback</h2>
  </div>
  <div class="divider"></div>
  <h3 *ngIf="saved">Feedback saved successfully</h3>
  <mat-list class="reviews mt-3"></mat-list>
  <h3 fxLayoutAlign="start center" class="my-3 text-muted">
    <span>Your Rating:</span>
    <button *ngFor="let rating of ratings" mat-icon-button [matTooltip]="rating.title" matTooltipPosition="above"
      (click)="rate(rating)">
      <mat-icon class="mat-icon-lg" [class.primary-color]="rating.selected">{{
        rating.icon
        }}</mat-icon>
    </button>
  </h3>
  <mat-list>
    <mat-list-item *ngFor="let feedback of feedbacks let i = index" class="h-100" (click)="onSelectFeedback(i)">
      <p matLine class="text">{{ feedback }}</p>
      <mat-icon *ngIf="feedbackStates[i]">done</mat-icon>
    </mat-list-item>
  </mat-list>
  <p class="mt-3 text-muted">Tell Us More:</p>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Your Feedback</mat-label>
    <form [formGroup]="feedbackForm">
      <textarea matInput placeholder="Your Feedback" formControlName="review" required rows="5"></textarea>
    </form>
  </mat-form-field>
  <div class="button">
    <button (click)="saveFeedback()" _ngcontent-serverapp-c218="" mat-flat-button="" type="submit" color="primary" class="mat-focus-indicator subscribe-btn mat-flat-button mat-button-base mat-primary" ng-reflect-color="primary" fdprocessedid="rpxeid">
      <span class="mat-button-wrapper">Submit</span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span>
      <span class="mat-button-focus-overlay"></span>
    </button>
  </div>

</div>
