.container {
  margin-top: -6vh;
  // height: 52vh;
  // width: 60vw;
}

.top {
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}
.question {
  font-weight: 400;
  font-size: 20px;
}
.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}
.line {
  border: 3px solid #4b643d;
  width: 80vw;
  max-width: 400px;
  text-align: center;
  margin: auto;
}

.selectedDate {
  margin-top: 2vh;
}

.dateContainer {
  margin-top: 4vh;
  mat-form-field {
    margin: 20px;
    width: 90vw;
    font-size: smaller;
  }
}

.calendar-card {
  text-align: center;
  margin: auto;
  width: 52%;
  font-size: large;
  font-weight: 500;
}

.displayError {
  margin-top: 2vh;
  color: rgba(211, 56, 56, 0.87);
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
  }

  .line {
    width: 65vw;
  }
}
