.container {
  // margin-top: 10vh;
  width: 90vw;
  height: 62vh;
  display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.top {
  justify-content: center;
  align-items: center;
  // height: 10vh;
  // position: absolute;
  // top: 9%;
  font-family: "Montserrat";

  // border: 1vh solid black;
}
.question {
  line-height: 24px;
  font-weight: 400;
  font-size: 20px;
}
.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.line {
  // position: absolute;
  // left: 0%;
  // right: 0%;
  border: 3px solid #4b643d;
  width: 80vw;
  max-width: 400px;
  text-align: center;
  margin: auto;
}

.selectedDate {
  margin-top: 2vh;
}

.dateContainer {
  margin-top: 2vh;
  mat-form-field {
    margin: 20px;
    width: 90vw;
    max-width: 300px;
  }
}

.calendar-card {
  text-align: center;
  margin: auto;
  margin-top: 4vh;
  width: 300px;
  font-size: large;
  font-weight: 500;
}

.displayError {
  margin-top: 2vh;
  color: rgba(211, 56, 56, 0.87);
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
  }

  .dateContainer {
    mat-form-field {
      max-width: 94vw;
    }
  }
}
