.secondary-font {
    font-family: 'Montserrat', sans-serif ;
  }

  .bigger-font {
    font-size: 1.2rem; /* adjust the value as needed */
  }

  .bigger-title{
    font-size: 2rem; /* adjust the value as needed */
  }

  .custom-button {
    font-size: 1.2em; /* Adjust the value to your liking */
  }
