<mat-card class="m-2 p-0">
    <div class="table-wrapper"> 
        <table mat-table [dataSource]="dataSource" matSort class="w-100">
        
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let order"> #{{order.id}} </td>
            </ng-container>  
    
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let order"> {{order.date}}</td>
            </ng-container>  
        

            <!-- Status Column -->
            <ng-container matColumnDef="status.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="status.name"> Status </th>
                <td mat-cell *matCellDef="let order"> {{order.status.name}}</td>
            </ng-container> 

            <!-- Table Number Column -->
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                <td mat-cell *matCellDef="let order"> ${{order.amount}} for {{order.quantity}} items </td>
            </ng-container> 

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let order"> 
                    <mat-form-field appearance="outline" class="p-0 m-0">
                        <mat-label>Status</mat-label>
                        <mat-select (selectionChange)="onStatusSelectionChange($event, order)" [disabled]="order.status.id == 1">
                            <mat-option>---</mat-option> 
                            <mat-option *ngFor="let status of statuses" [value]="status">
                                {{status.name}}
                            </mat-option>
                        </mat-select>  
                    </mat-form-field>  
                </td>
            </ng-container>
    
            <!-- View Column -->
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef> View </th>
                <td mat-cell *matCellDef="let order"> 
                    <button mat-icon-button color="primary" (click)="view(order)" matTooltip="View">
                        <mat-icon>visibility</mat-icon>
                    </button> 
                    <button *ngIf="order.status.id == 1" mat-icon-button color="warn" (click)="receipt(order)" matTooltip="View Invoice">
                        <mat-icon>receipt</mat-icon>
                    </button> 
                </td>
            </ng-container> 
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let order; columns: displayedColumns;"></tr>
        </table> 
        <p *ngIf="dataSource && dataSource.data.length === 0" class="py-5 mb-0 text-center">No data available</p> 
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</mat-card>