.container {
  min-height: calc(100vh - 100px);
  // width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.formContainer {
  // margin-top: -6vh;
  background-color: rgba(116, 116, 116, 0.918) !important;
  background-color: #bdc3c7 !important;
  background-image: linear-gradient(to right, #ffffff, #ffffffd2) !important;
  box-shadow: 1px 1px 15px rgba(4, 4, 26, 0.15) !important;
  opacity: 0.96 !important;
  width: 40vw;
}

.formWrapper {
  width: 35vw;
  background-color: red !important;
}

.formG {
  text-align: center;
  margin: auto;
  width: 35vw;
}

.loginBtn {
  background-color: #dd9670c4 !important;
  box-shadow: 1px 1px 5px rgba(5, 5, 34, 0.15);
  border: none;
  border-radius: 18.5px;
  width: 220px;
  height: 40px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2vh;
}

.loginBtn:hover {
  background-color: #85ac53c4 !important;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.googleBtnWrapper {
  text-align: center;
  margin: auto;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  cursor: pointer;
  width: 120px;
  font-size: 16px;
  letter-spacing: 0.6px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  height: 35px;
  box-shadow: 1px 1px 5px rgba(5, 5, 34, 0.15);
  background-color: rgb(219, 219, 219);
}

.google:hover {
  background-color: #85ac53c4;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

@media screen and (max-width: 1400px) {
  .formContainer {
    width: 60vw;
  }

  .formWrapper {
    width: 55vw;
  }

  .formG {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .formContainer {
    width: 85vw;
  }

  .formWrapper {
    width: 85vw;
  }

  .formG {
    width: 78vw;
  }
}
