<h2 class="secondary-font text-center mb-3 bigger-title">About the App</h2>

<div style="font-family: 'Montserrat';">
  <p class="app-description bigger-font">Login
    Our meal plan website offers a convenient mobile application that makes it easy to track your meals, set goals, and stay on track with your health and wellness journey. Our app is designed to be user-friendly and optimized for mobile devices, so you can easily access your meal plans, recipes, and progress tracking directly from your smartphone or tablet. With our app, you can easily plan and prepare healthy, nutritious meals throughout the week, no matter where you are. Whether you're just starting out on your health journey or looking to maintain a healthy lifestyle, our app can help you achieve your goals and feel your best.</p>
</div>

