.app-description-container {
    max-width: 700px;
    margin: auto;
    padding: 30px;
    background-color: #F7F7F7;
    border-radius: 5px;
  }
  
  .app-description {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
  }

  

  .secondary-font {
    font-family: 'Montserrat', sans-serif ;
  }

  .bigger-font {
    font-size: 1.2rem; /* adjust the value as needed */
  }

  .bigger-title{
    font-size: 2rem; /* adjust the value as needed */
  }

  .custom-button {
    font-size: 1.2em; /* Adjust the value to your liking */
  }