.container {
  margin-top: -8vh;
}

.top {
  justify-content: center;
  margin-top: -1vh;
  font-family: "Montserrat";
}
.question {
  font-weight: 400;
  font-size: 20px;
}

.line {
  border: 3px solid #4b643d;
  text-align: center;
  margin: auto;
  max-width: 400px;
}
.content {
  width: 98vw;
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    margin: auto;
    text-align: center;
    height: 80%;
  }
}
.box {
  background: linear-gradient(90deg, #f9f9f9 0%, #f6f6f8 21.33%, #f2f2f4 100%);
  box-shadow: 0.764706px 0.764706px 3.82353px rgba(0, 0, 0, 0.15);
  border-radius: 35.1765px;
  display: inline-block;
  width: 100%;
  max-width: 260px;
  margin-top: 2vh;
  margin-bottom: -1vh;
}

.innerbox {
  display: inline-block;
  background: #e09167;
  border-radius: 15px;
  width: 45%;
  max-width: 110px;
  padding: 10px;
  cursor: pointer;
}

.orange {
  background-color: #e09167;
}

.white {
  background-color: #f2f2f4;
}

.val {
  font-style: bold;
  font-size: large;
  align-items: center;
  justify-content: center;
  margin-bottom: 0%;
}

// input
$primary: black;
$secondary: black;
$white: black;
$gray: #9b9b9b;
.form__group {
  height: 6vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.inputWrapper {
  margin-top: 5vh;
}

.form__field {
  font-family: inherit;
  width: 60%;
  max-width: 80px;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  background: transparent;
  transition: border-color 0.2s;
  display: inline-flex;

  &::placeholder {
    color: transparent;
  }
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
  text-align: center;
}
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
  }
  .line {
    width: 60vw;
  }
}
