<div class="planContainer">
    <div>
        <h2 class="bigger-title">The {{name}} Plan</h2>
    </div>
    <div>
        <h2>${{price}} / <span class="lenSpan">{{length}}</span></h2>
    </div>
    <div>
        <h2 class="my-text">The {{name}} Plan Includes:</h2>
    </div>
    <div [innerHTML]="includes">
        
        
        
    </div>
    <div>
        <h2 class="my-text">Benefits:</h2>
    </div>
    <div [innerHTML]="benefits">
    </div>
    <div>
        <button (click)="choosePlan()" _ngcontent-serverapp-c218="" mat-flat-button="" type="submit" color="primary" class="mat-focus-indicator subscribe-btn mat-flat-button mat-button-base mat-primary right-bottom custom-button" ng-reflect-color="primary" fdprocessedid="rpxeid">
            <span class="mat-button-wrapper">Select Plan</span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span>
            <span class="mat-button-focus-overlay"></span>
        </button>
    </div>
</div>
