.planContainer {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 350px;
  }


  .planContainer ul {
    text-align: left;
    margin-left: 20px;
  }

  ul {
    list-style: none;
  }
  
  .bullet {
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 1.5em;
  }

.lenSpan{
  color: grey;
  font-size: medium;
  font-weight: bold;
}

  .right-bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  

