<div class="planContainer">
    <div>
        <h2>{{name}}</h2>
    </div>
    <div>
        <h2>${{price}} / {{length}}</h2>
    </div>
    <div>
        <h2 class="title">{{name}} Includes:</h2>
    </div>
    <div>
        <ul>
            <li *ngFor="let str of tmpIncludes">{{str}}</li>
        </ul>
    </div>
    <div>
        <h2>Benefits:</h2>
    </div>
    <div>
        <ul>
            <li *ngFor="let ben of tmpBenefits">{{ben}}</li>
        </ul>
    </div>
    <div>
        <button (click)="choosePlan()">Select Plan</button>
    </div>
</div>
