.planContainer {
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    flex-direction: column;
    font-family: Montserrat;
    text-align: center;
    background-repeat: no-repeat ;
    background-size: cover ;
    margin: 10px;

  }